// accomodation banner//
.banner-accomodation{
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0, .3) ), image-url('Room2.jpg');
	background-size: cover;
 	height: 100vh;
 	display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

// .header-textbox{
// 	position: absolute;
// 	top: 50%;
// 	left: 50%;
// 	transform: translate(-50%, -50%) ;
// 	text-align: center;
// }

.heading-primary{
	display: block;
	font-family: Roboto;
 	font-size: 38px;
 	text-align: center;
 	color: #FFFEFE;
 	text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.9), 3px 3px 4px rgba(0, 0, 0, 0.25);
}

.header-paragraph{
		color: #FFFFFF;
		font-family: Roboto;
		font-weight: lighter;
		opacity: 0.8;
		font-size: 23px;
		 margin-top: 0px;
}
.btn-position{
	margin-top: 40px;
	text-align: center;
}

.search-bar{
	width: 100vw;
	height: 140px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: calc(100vh - 140px);
	left: 0;
	// display: flex;
 //    justify-content: space-around;
 	// p{
 	// 	top: -123px;
	 //    left: 20px;
 	// }

}

.search-header{
	position: relative;
    left: 137px;
    color: rgba(255, 255, 255, 1);
    font-size: 21px;
    top: 28px;
    letter-spacing: 1px;
}

.search-header2{
	position: relative;
    left: 137px;
    color: rgba(255, 255, 255, 1);
    font-size: 25px;
    top: 19px;
    font-weight: 600;
    letter-spacing: 1px;
    
}

.color-orange{
	color: $orange;
}

//stay relaxed section//

.wrapper-stay-relexed{
	background: #f4f4f5;
	padding: 10px;
}
.wrapper-stay-relexed h4{
	font-family: Roboto;
	font-weight: bold;
	font-size: 26px;
	color: rgba(24, 24, 24, 0.8);
	text-align: center;
	margin-top: 59px;
	margin-bottom: 28px;
}
.wrapper-stay-relexed p{
	font-family: Open Sans;
	font-size: 17px;
	text-align: justify;
	color: rgba(24, 24, 24, 0.65);
	letter-spacing: 0.03em;
	margin-top: 27px;
  	line-height: 1.9;
  	hr{
  		 border-top: 1px solid #e0e0e0;
  	}
}

//rooms section//

.wrapper-rooms{
	background: #FFFFFF !important;

  	padding-bottom: 53px;
}

.wrapper-rooms h4{
	font-family: Roboto;
	font-weight: bold;
	font-size: 26px;
	color: rgba(24, 24, 24, 0.8);
	text-align: center;
	margin-top: 42px;
	margin-bottom: 10px;
}

.wrapper-rooms p{
	font-family: Open Sans;
	font-size: 17px;
	text-align: center;
	color: rgba(24, 24, 24, 0.70);
	letter-spacing: 0.03em;
  	margin-top: 11px;
  	margin-bottom: 34px;
}

.wrapper-rooms-gallery{
	background: #FFFFFF;
	padding-top: 44px;
	padding-bottom: 45px;
}

.wrapper-rooms-gallery h4{
  font-family: Roboto;
  font-weight: bold;
  font-size: 26px;
  color: rgba(24, 24, 24, 0.8);
  text-align: center;
  margin-top: 0px;
 
}

.wrapper-rooms-gallery p{
  font-family: Open Sans;
  font-size: 17px;
  text-align: center;
  color: rgba(24, 24, 24, 0.65);
  letter-spacing: 0.03em;
  margin-top: 11px;
  margin-bottom: 34px;
  line-height: 1.9;
}

.wrapper-services-descrition{
	background: #FFFFFF;
	h4{
    font-family: Roboto;
    font-weight: bold;
    font-size: 26px;
    color: rgba(24, 24, 24, 0.8);
    text-align: center;
    margin-top: 59px;
    margin-bottom: 28px;
  }
  .card-pub-content{
    padding-top: 52px;
    h5{
      font-family: Roboto;
      font-weight: bold;
      font-size: 24px;
      color: $orange;
      text-align: left;
      margin-bottom: -8px;  
      }
    p{
      font-family: Open Sans;
      font-size: 17px;
      text-align: justify;
      color: rgba(24, 24, 24, 0.65);
      letter-spacing: 0.03em;
      margin-top: 25px;
      line-height: 1.9;
    }
  }
  & hr{
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #e0e0e0;
  }
}


//media queries banner//

@media only screen 
  and (max-width: 320px){
	.heading-primary{
		font-size: 22px;
		margin: 0;
	}

	.header-paragraph{
    	font-size: 16px;
	}
	.search-bar{
		top: calc(100vh - 200px);
		height: 200px;
	}
}

@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
  	.heading-primary{
		font-size: 27px;
		margin: 0;
	}

	.header-paragraph{
    	font-size: 18px;
	}

	.search-bar{
		top: calc(100vh - 230px);
		height: 230px;
	}
  }

@media only screen 
  and (min-width: 768px)
  and (max-width: 990px){
  	.search-bar{
		top: calc(100vh - 280px);
		height: 280px;
	}
	.heading-primary{
		font-size: 36px;
		margin: 0;
	}
	.header-paragraph{
    	font-size: 18px;
	}

}


@media only screen 
  and (min-width: 992px)
  and (max-width: 1439px){
  	.search-header{
  		left: 0px;
        font-size: 18px;
  	}
  	.search-header2{
  		left: 27px;
    	font-size: 19px;
  	}
  	.color-orange{
  		left: 25px;
    	font-size: 19px;
  	}


}



//media queries -  rest of the page//

@media only screen 
  and (max-width: 320px){
  	.wrapper-stay-relexed h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-stay-relexed p{
  		font-size: 13px;
  		letter-spacing: 0.00em;
  		margin-top: -6px;
  	}
  	.wrapper-rooms h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-rooms p{
  		font-size: 13px;
  		letter-spacing: 0.00em;
  		margin-top: 12px;
  		text-align: justify;
      margin-bottom: 25px;
  	}
    .wrapper-rooms-gallery{
        margin-top: -27px;
    }
    
    .wrapper-services-descrition {
      h4{
        font-size: 19px;
        margin-top: -17px;
        margin-bottom: -6px;
      } 
      .card-pub-content{
      	padding-top: 0px; 
         height: 160px;
    	overflow: auto; 
    	text-overflow: ellipsis;
      & h5{
        font-size: 17px;
        margin-bottom: 0;
        margin-top: 5px;
        margin-bottom: 7px;
      }
      & p{
        font-size: 13px;
        letter-spacing: 0.00em;
        line-height: 1.4;
        margin-top: 0;
        text-overflow: ellipsis;
      }
    } 
  }
    
    
}
  // large mobile
@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
  	.wrapper-stay-relexed h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-stay-relexed p{
  		font-size: 14px;
  		letter-spacing: 0.00em;
  		margin-top: -6px;
  	}
  	.wrapper-rooms h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-rooms p{
  		font-size: 14px;
  		letter-spacing: 0.00em;
  		margin-top: 10px;
  		text-align: justify;
  		
  	}
     .wrapper-rooms-gallery{
       
      margin-top: -11px;
      margin-bottom: 13px;
    }
    
    .wrapper-services-descrition {
      h4{
        font-size: 19px;
        margin-top: -17px;
        margin-bottom: -6px;
      }
      .card-pub-content{
        padding-top: 0px; 
        height: 160px;
    	overflow: auto; 
    	text-overflow: ellipsis; 
        h5{
          font-size: 17px;
          margin-bottom: 0;
          margin-top: 5px;
          margin-bottom: 7px;
        }
        p{
          font-size: 13px;
          letter-spacing: 0.00em;
          line-height: 1.4;
          margin-top: 0;
        }
      } 
    }


}




// ipad 
  @media only screen 
  and (min-width: 768px)
  and (max-width: 990px){
  	.wrapper-stay-relexed h4{
  		font-size: 26px;
    	margin-top: 46px;
    	margin-bottom: 26px;
  	}
  	.wrapper-stay-relexed p{
  		font-size: 18px;
    	letter-spacing: 0.03em;
    	margin-top: 24px;
  	}
  	.wrapper-rooms h4{
  		font-size: 26px;
    	margin-top: 46px;
    	margin-bottom: 26px;
  	}
  	.wrapper-rooms p{
  		font-size: 18px;
    	letter-spacing: 0.03em;
    	margin-top: 24px;
    	text-align: justify;
  	}
  	.wrapper-services-descrition{
  		.card-pub-content{
  			padding-top: 18px;
  		}
  		
  	}

  }






 







