
.lg-upper-page-banner{
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65) ), image-url('phone.jpg');
 	background-size: cover;
 	height: 50vh;
 	background-position: center;
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 	text-align: center;
 	.banner-content{
 		h1{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 32px;
			line-height: 44px;
			text-align: center;
			color: rgba(255, 255, 255, 0.9);

 		}
 		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: lighter;
			font-size: 22px;
			line-height: 30px;
			letter-spacing: 0.03em;
			color: #FFFFFF;
			opacity: 0.8;
			margin-top: -12px;
 		}
 	}
}
.thank-you-page-banner{
	height: 30vh !important;
}

.mob-banner-lg-height{
	height: 35vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.upper-page-banner{

	.mob-banner-content{
		font-family: Open Sans;
		font-style: normal;
		
 		h1{			
			font-weight: 600;
			font-size: 24px;
			line-height: 44px;
			text-align: center;
			color: rgba(255, 255, 255, 0.9);

 		}
 		p{
			font-weight: lighter;
			font-size: 16px;
			line-height: 19px;
			letter-spacing: 0.03em;
			color: #FFFFFF;
			opacity: 0.8;
			margin-top: -12px;
 		}
	}
}
.wrapper-contact-us{
	background-color: white;
	.contact-details-container{
		position: relative;
    	top: -100px;
		.col-sm-8{
			// padding-left: 0;
			padding-right: 0;
		}
		.col-sm-4{
			padding-left: 0;
			// padding-right: 0;
		}
		#map{
		    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
		    -webkit-filter: grayscale(100%);
		    filter: grayscale(100%);    
		    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
		}
		.contact-details{
			height: 380px;
			background: #2D2B29;
			font-family: Open Sans;
			font-style: normal;
			text-align: center;
			padding: 46px 15px;

			h4{
				font-weight: 500;
				font-size: 26px;
				line-height: 35px;
				color: #FAFAFA;
				margin: 0;
				margin-bottom: 14px;
			}
			.address{
				font-weight: lighter;
				font-size: 20px;
				line-height: 27px;
				letter-spacing: 0.03em;
				color: #FFFFFF;
				p{
					margin-top: -5px;
				}
			}
			.email{
				p{
				font-weight: 500;
				font-size: 22px;
				line-height: 30px;
				letter-spacing: 0.03em;
				color: #E9984D;
				margin-top: 37px;
				}
				
			}
			.phone_number{
				p{
					font-weight: 400;
					font-size: 20px;
					line-height: 27px;
					letter-spacing: 0.03em;
					color: #FFFFFF;
					margin-top: 10px;
				}
				
			}
		}
	}

}
.wrapper-contact-form{
	background-color: white;
	padding-top: 18px;
	padding-bottom: 100px;
	.contact-form{
		background: #F9F9F9;
		padding: 40px 30px;
		form{
			font-family: Roboto;
			.invisible-label{
				color: transparent !important;
			}
			.message-input{
				height: 100px !important;
			}
			label{
				font-style: normal;
				font-weight: 500;
				font-size: 17px;
				line-height: 21px;
				color: rgba(24, 24, 24, 0.65);
			}
			::placeholder{
			  font-style: normal;
			  font-weight: 500;
			  font-size: 15px;
			  line-height: 21px;
			  color: rgba(118, 116, 115, 0.6);
			}
			.form-control{
				border: 1px solid rgba(149, 144, 144, 0.8);
				background: #F9F9F9;
			}
			.btn-form-submit{
				background: #F6B072;
				border: 1px solid #959090;
				box-sizing: border-box;
				border-radius: 4px;
				font-weight: bold;
				font-size: 15px;
				line-height: 18px;
				text-align: center;
				color: #FFFFFF;
				padding: 10px 66px;
				text-decoration: none;
				list-style: none;

			}
			.form-btn-box{
				display: flex;
				justify-content: space-around;
				align-items: center;
				padding-top: 23px;
			}
			.form-padding-left{
				padding-left: 6px !important;
			}
			.form-padding-right{
				padding-right: 6px !important;
			}
		}
	}
	.form-side-text{
		h3{
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			line-height: 37px;
			text-align: center;
			color: rgba(24, 24, 24, 0.8);
		}
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 33px;
			color: rgba(0, 0, 0, 0.65);
			margin-top: 42px;
		}
	}
	.mob-side-text{
		h3{
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			line-height: 37px;
			text-align: center;
			color: rgba(24, 24, 24, 0.8);
		}
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 300;
			font-size: 20px;
			line-height: 33px;
			color: rgba(0, 0, 0, 0.65);
			margin-top: 42px;
		}
	}

}

//THANK YOU MESSAGE PAGE

.thank-you-page-banner{
	height: 30vh !important;
}
.wrapper-thank-you-message{
	background: #F9F9F9;
	padding: 73px 0;
	.message-container{
		display: flex;
		justify-content: space-around;
		align-items: center;
		.message-description{
			text-align: center;
			background-color: white;
			box-shadow: 0 4px 2px -2px gray;
			box-shadow: 0 5px 13px -1px grey;
   			// box-shadow: 5px 10px 8px #888888;
   			padding: 28px 35px;
			.icon{
				padding-top: 50px;
				i{
					color: #44c400;
					font-size: 100px;

				}
			}
			h1{
				font-family: Roboto;
				color: rgba(24, 24, 24, 0.8);
				font-weight: 500;
				font-size: 46px;
			}
			p{
				font-family: Open Sans;
				font-style: normal;
				font-weight: normal;
				font-size: 18px;
				line-height: 23px;
				color: rgba(0, 0, 0, 0.65);

			}
		}
	}
}

//mobile version

.wrapper-contact-us-mob{
	background-color: #2D2B29;
		#map-mob{
		    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
		    -webkit-filter: grayscale(100%);
		    filter: grayscale(100%);    
		    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
		}
		.contact-details-mob{
			height: auto;
			background: #2D2B29;
			font-family: Open Sans;
			font-style: normal;
			text-align: center;
			padding: 12px 0px;

			h4{
				font-weight: 500;
				font-size: 19px;
				line-height: 35px;
				color: #FAFAFA;
				margin: 0;
				margin-bottom: 14px;
			}
			.address{
				font-weight: lighter;
				font-size: 15px;
				line-height: 12px;
				letter-spacing: 0.03em;
				color: #FFFFFF;
				p{
					margin-top: -5px;
				}
			}
			.email{
				p{
				font-weight: 500;
				font-size: 16px;
				line-height: 30px;
				letter-spacing: 0.03em;
				color: #E9984D;
				margin-top: 12px;
				text-decoration: underline;
				}
				
			}
			.phone_number{
				p{
					font-weight: 400;
					font-size: 15px;
					line-height: 27px;
					letter-spacing: 0.03em;
					color: #FFFFFF;
					margin-top: 10px;
					margin-bottom: 0;
				}
				
			}
		}
	

}

// mobile - MEDIA QUERIES

@media only screen 
  and (max-width: 320px){
  	.mob-banner-lg-height{
  		height: 40vh;
  	}
  	.wrapper-contact-us{
  		background-color: white;
  		.contact-details-container{
  			position: STATIC;
  	    	top: 0px;
  			.col-xs-12{
  				// padding-left: 0;
  				padding-right: 0;
  				padding-left: 0;
  			}
  			
  			#map{
  			    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  			    -webkit-filter: grayscale(100%);
  			    filter: grayscale(100%);    
  			    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  			  	height: 273px !important;
  			}
  			.contact-details{
  				height: auto;
  				background: #2D2B29;
  				font-family: Open Sans;
  				font-style: normal;
  				text-align: center;
  				padding: 12px 0px;
  					
  			}
  		}

  	}
  	.wrapper-contact-form{
  		    padding-bottom: 37px;
  		.mob-side-text{
  			h3{
  				font-size: 21px;
  				line-height: 25px;
  				margin-top: 13px;
  			}
  			p{	
  				line-height: 20px;
  				font-size: 16px;
  				margin-top: 0;
  			}
  		}
  	}
  	.wrapper-thank-you-message{
  		padding: 39px 0;
  		.message-container{
			.message-description{
				padding: 11px 6px;
				.icon{
					padding-top: 29px;
					i{
						font-size: 82px;
					}
				}
				h1{
					font-size: 36px;
				}
				p{
					font-size: 15px;
					line-height: 20px;
				}
			}
  		}
  	}
  	.thank-you-page-banner{
  		height: 15vh !important;
  	}
}

@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
  	.mob-banner-lg-height{
  		height: 40vh;
  	}
  	.wrapper-contact-us{
  		background-color: white;
  		.contact-details-container{
  			position: STATIC;
  	    	top: 0px;
  			.col-xs-12{
  				// padding-left: 0;
  				padding-right: 0;
  				padding-left: 0;
  			}
  			
  			#map{
  			    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
  			    -webkit-filter: grayscale(100%);
  			    filter: grayscale(100%);    
  			    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
  			  	height: 273px !important;
  			}
  			.contact-details{
  				height: auto;
  				background: #2D2B29;
  				font-family: Open Sans;
  				font-style: normal;
  				text-align: center;
  				padding: 12px 0px;
  					
  			}
  		}

  	}
  	.wrapper-contact-form{
  		    padding-bottom: 37px;
  		.mob-side-text{
  			h3{
  				font-size: 21px;
  				line-height: 25px;
  				margin-top: 13px;
  			}
  			p{	
  				line-height: 20px;
  				font-size: 16px;
  				margin-top: 0;
  			}
  		}
  	}
  	.wrapper-thank-you-message{
  		padding: 39px 0;
  		.message-container{
			.message-description{
				padding: 11px 6px;
				.icon{
					padding-top: 29px;
					i{
						font-size: 82px;
					}
				}
				h1{
					font-size: 36px;
				}
				p{
					font-size: 16px;
					line-height: 20px;
				}
			}
  		}
  	}
  	.thank-you-page-banner{
  		height: 15vh !important;
  	}

}

@media only screen 
  and (min-width: 768px)
  and (max-width: 990px){
  	.lg-upper-page-banner{
  		height: 44vh;
  		.banner-content{
  			h1{
				font-size: 27px;
  			}
  			p{
  				font-size: 16px;

  			}
  		}
  	}
    .wrapper-contact-us{
	  	.contact-details-container{
	  		#map{
	  			height: 279px !important;
	  		}
	  		.contact-details{
	  			height: 279px;
	  			h4{
	  				font-size: 21px;
	  			}
	  			.address{
	  				font-size: 16px;
	  				line-height: 14px;
	  			}
	  			.email{
	  				p{
	  					font-size: 16px;
	  					margin-top: 24px;
	  				}
	  			}
	  			.phone_number{
	  				p{
	  					font-size: 17px;
	  				}
	  			}
	  		}
	  	}
	}
	.wrapper-contact-form{
		padding-top: 0px;
		margin-top: -36px;
	}
}
@media only screen 
  and (min-width: 992px)
  and (max-width: 1439px){
	.wrapper-contact-us{
		.contact-details-container{
			#map{
				height: 339px !important;
			}
			.contact-details{
				height: 339px;
			}
		}
	}
}
