// Specific CSS for your home-page
// about us section
.wrapper-aboutus{
	background: #FFFFFF;
	padding: 10px;
	
}
.wrapper-aboutus h4{
	font-family: Roboto;
	font-weight: bold;
	font-size: 26px;
	color: rgba(24, 24, 24, 0.8);
	text-align: center;
	margin-top: 59px;
	margin-bottom: 28px;
}
.wrapper-aboutus p{
	font-family: Open Sans;
	font-size: 17px;
	text-align: justify;
	color: rgba(24, 24, 24, 0.65);
	letter-spacing: 0.03em;
	margin-top: 27px;
  line-height: 1.9;
}

// rooms section
.wrapper-rooms{
	background: #f4f4f5;
  padding-bottom: 53px;
}

.wrapper-rooms h4{
	font-family: Roboto;
	font-weight: bold;
	font-size: 26px;
	color: rgba(24, 24, 24, 0.8);
	text-align: center;
	margin-top: 42px;
	margin-bottom: 10px;
}
.wrapper-rooms p{
	font-family: Open Sans;
	font-size: 17px;
	text-align: center;
	color: rgba(24, 24, 24, 0.70);
	letter-spacing: 0.03em;
  margin-top: 11px;
  margin-bottom: 34px;
}

// food and drinks section

.wrapper-foodrinks{
  background: #FFFFFF;
  padding-top: 44px;
  padding-bottom: 250px;

}

.wrapper-foodrinks h4{
  font-family: Roboto;
  font-weight: bold;
  font-size: 26px;
  color: rgba(24, 24, 24, 0.8);
  text-align: center;
  margin-top: 0px;
 
}

.wrapper-foodrinks p{
  font-family: Open Sans;
  font-size: 17px;
  text-align: center;
  color: rgba(24, 24, 24, 0.65);
  letter-spacing: 0.03em;
  margin-top: 11px;
  margin-bottom: 34px;
  line-height: 1.9;
}

// reviews section

.wrapper-reviews{
  background: #f4f4f5;
}
.banner-reviews{
  height: 300px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5) ), image-url('glasses.jpg');
  background-size: cover;
  color: #FFFFFF;
  display: flex;
  justify-content: space-round;
  align-items: center;
  text-align: center;
  padding-bottom: 18px;
  position: relative;
  top: -152px;
  margin-bottom: -126px;
  & h4{
    font-family: Roboto;
    font-weight: bold;
    font-size: 26px;
    opacity: .8;
    padding-bottom: 24px; 
  }
}

.avatar-lg{
  height: 70px;
  width: 70px;
  border-radius: 60%;

}

.review-box{
  background: rgba(89, 89, 89, 0.5);
  margin-right: 44px;
  margin-left: 43px;
  padding: 32px;
   margin-top: -16px;

}

.reviews-content{
  display: flex;
  justify-content: space-betweem;
  align-items: center;
  text-align: center;
  
  
  & p{
    margin-bottom: 0px;
    font-style: italic;
    opacity: .8;
     font-size: 17px;
     font-family: Open Sans;
      margin-left: 14px;
    &::before{
      content: open-quote;
      font-size: 22px;
    }
    &::after{
      content: close-quote;
      font-size: 22px;
    }
  }
}

.rewiew-user{
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  margin-bottom: -17px;


}

.review-username{
  font-weight: bold;
      margin-right: 10px;
    margin-top: 20px;
}

.review-date{
   margin-top: 20px;
   font-weight: lighter;

}
.link-reviews{
  display: flex;
  justify-content: center;
  & a{
    width: 241px;
    height: 68px;
    background: transparent;
    border-radius: 60px;
    color: #E78B48;
    text-align: center;
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-decoration: underline;
    list-style: none;
    padding: 0px 41px;
  }
}

// other services section
.wrapper-otherservices{
  background: #f4f4f5;
  // .container{
  //   width: 900px;
  // }
  h4{
    font-family: Roboto;
    font-weight: bold;
    font-size: 26px;
    color: rgba(24, 24, 24, 0.8);
    text-align: center;
    margin-top: 59px;
    margin-bottom: 28px;
  }
  .card-pub-content{
    padding-top: 52px;
    h5{
      font-family: Roboto;
      font-weight: bold;
      font-size: 24px;
      color: $orange;
      text-align: left;
      margin-bottom: -8px;  
      }
    p{
      font-family: Open Sans;
      font-size: 17px;
      text-align: justify;
      color: rgba(24, 24, 24, 0.65);
      letter-spacing: 0.03em;
      margin-top: 25px;
      line-height: 1.9;
    }
  }
  & hr{
    margin-top: 25px;
    margin-bottom: 25px;
    border: 0;
    border-top: 1px solid #e0e0e0;
  }
}


 
// Media Queries
// small mobiles
@media only screen 
  and (max-width: 320px){
  	.wrapper-aboutus h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-aboutus p{
  		font-size: 13px;
  		letter-spacing: 0.00em;
  		margin-top: -6px;
  	}
  	.wrapper-rooms h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-rooms p{
  		font-size: 13px;
  		letter-spacing: 0.00em;
  		margin-top: 12px;
  		text-align: justify;
      margin-bottom: 25px;
  	}
    .wrapper-foodrinks{
      padding-bottom: 199px;
    }
    .wrapper-foodrinks h4{
      font-size: 19px;
      margin-top: -15px;
    }
    .wrapper-foodrinks p{
      font-size: 13px;
      letter-spacing: 0.00em;
      margin-top: 12px;
      text-align: justify;
      margin-bottom: 25px;
    }
    .review-box{
      margin-right: 0px;
      margin-left: 0px;
      padding: 20px;
      margin-top: -31px;
    }
    .reviews-content{
      display: block;
      & p{
      font-size: 13px;
      align-items: right;
      /* align-items: flex-start; */
      text-align: justify;
      margin-left: -6px;
      margin-right: -6px; 
      margin-top: -43px;  
      }
    }
    .avatar-lg{
      position: relative;
      top: -49px;
      border: 3px solid $dark-gray;
      box-shadow: 1px 3px 15px $dark-gray;
      height: 80px;
      width: 80px;
    }
    .review-username{
      font-size: 13px;
    }
    .review-date{
      font-size: 13px;
    }

    .banner-reviews h4{
      font-size: 13px;
    }
    .link-reviews a{
      font-size: 15px;
      margin-top: -9px;
    }
    .wrapper-otherservices {
      h4{
        font-size: 19px;
        margin-top: -17px;
        margin-bottom: -6px;
      }
      .card-pub-content{
      padding-top: 0px;  
      h5{
        font-size: 17px;
        margin-bottom: 0;
        margin-top: 5px;
        margin-bottom: 7px;
      }
      p{
        font-size: 13px;
        letter-spacing: 0.00em;
        line-height: 1.4;
        margin-top: 0;
      }
    } 
  }
    
    
}
  // large mobile
@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
  	.wrapper-aboutus h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-aboutus p{
  		font-size: 14px;
  		letter-spacing: 0.00em;
  		margin-top: -6px;
  	}
  	.wrapper-rooms h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-rooms p{
  		font-size: 14px;
  		letter-spacing: 0.00em;
  		margin-top: 10px;
  		
  	}
     .wrapper-foodrinks h4{
        font-size: 19px;
      margin-top: -11px;
      margin-bottom: 13px;
    }
    .wrapper-foodrinks p{
      font-size: 14px;
      letter-spacing: 0.00em;
      
      margin-bottom: 26px;
    }
    .review-box{
      margin-right: 0px;
      margin-left: 0px;
      padding: 20px;
      margin-top: -31px;
    }
    .reviews-content{
      display: block;
      & p{
      font-size: 13px;
      align-items: right;
      /* align-items: flex-start; */
      text-align: justify;
      margin-left: -6px;
      margin-right: -6px; 
      margin-top: -43px;  
      }
    }
    .avatar-lg{
      position: relative;
      top: -49px;
      border: 3px solid $dark-gray;
      box-shadow: 1px 3px 15px $dark-gray;
      height: 80px;
      width: 80px;
    }
    .review-username{
      font-size: 13px;
    }
    .review-date{
      font-size: 13px;
    }

    .banner-reviews h4{
      font-size: 13px;
    }



    .link-reviews a{
      font-size: 15px;
      margin-top: -9px;
    }
    .wrapper-otherservices {
      h4{
        font-size: 19px;
        margin-top: -17px;
        margin-bottom: -6px;
      }
      .card-pub-content{
        padding-top: 0px;  
        h5{
          font-size: 17px;
          margin-bottom: 0;
          margin-top: 5px;
          margin-bottom: 7px;
        }
        p{
          font-size: 13px;
          letter-spacing: 0.00em;
          line-height: 1.4;
          margin-top: 0;
        }
      } 
    }


}


// ipad 
  @media only screen 
  and (min-width: 768px)
  and (max-width: 990px){
  	.wrapper-aboutus h4{
  		font-size: 26px;
    	margin-top: 46px;
    	margin-bottom: 26px;
  	}
  	.wrapper-aboutus p{
  		font-size: 18px;
    	letter-spacing: 0.03em;
    	margin-top: 24px;
  	}
  	.wrapper-rooms h4{
  		font-size: 26px;
    	margin-top: 46px;
    	margin-bottom: 26px;
  	}
  	.wrapper-rooms p{
  		font-size: 18px;
    	letter-spacing: 0.03em;
    	margin-top: 24px;
  	}
    .wrapper-foodrinks h4{
      font-size: 26px;
    }
    .wrapper-foodrinks p{
      font-size: 18px;
      letter-spacing: 0.03em;
    }

  }

  
