//search form

    
.search-form-border{
    background: white;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5px;

 
}

//rooms cards
.upper-page-banner{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.4) ), image-url('hotel-pillows.jpg');
 	background-size: cover;
 	height: 140px;
 	background-position: center;
}

.search-results-box{
	hr{
		border-top: 1px solid #e8e8e8;
	}
}

.unavailability-msg{
	padding: 10px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	h4{
		color: #af6824;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 20px;
		line-height: 18px;

	}
	p{
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 18px;
		color: #767473;
	}
}
.results-box-headers{
	display: flex;
    font-family: Roboto;
    justify-content: space-between;
    font-size: 15px;
    color: #767473;
    margin-bottom: 24px;
}
.mob-results-box-headers{
	font-family: Roboto;
    font-size: 18px;
    color: #767473;
    margin-bottom: -29px;
}
.price-guaranteed{
	font-family: Roboto;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 40px;
    
}

.color-orange{
	color: $orange;
}

.search-card{
	display: flex;
    align-items: center;
    border-radius: 3px;
    position: relative;

}

.room-image{
	// border-radius: 10px;
 //  margin-right: 20px;
 //  width: 175px;
    height: 147px;
    width: 223px;
    margin-right: 40px;
}

.search-card-body{
	flex: 1 1 auto;

	h4{
    	margin-top: 0;
    	font-weight: 500;
    	color:  #B5743B;
    	font-size: 20px;
    	position: absolute;
    	top: 1px;
    }
    p{
    	margin-bottom: 0;
    	font-weight: lighter;
    	color: rgba(24, 24, 24, 0.65);
    	font-size: 16px;
    	text-align: justify;
    	    margin-top: 29px;

    }
}

.room-details{
	color: $orange;
	font-weight: 500;
	margin-top: 4px;
	.bed{
		position: absolute;
		left: 50%
	}
	.room-capacit{

	}
}

.price-section{
	margin-left: 40px;
	flex: 0 0 200px;
	h4{
		color: #B5743B;
	    font-weight: 500;
	    font-size: 20px;
	    margin-top: 0;
	    position: absolute;
    	top: 1px;
	}
	p{
		font-size: 17px;
    	color: #767473;
    	font-weight: lighter;
    	    margin-bottom: 29px;
	}
}

.btn-search-card{
	width: 200px;
    height: 50px;
    // background: $orange;
    // background-image: linear-gradient(rgba($orange, 0.8), rgba($orange, 0.2));
    background-image: linear-gradient(#F6B072, #F9C08E);
    // background-color: linear-gradient(rgba(231, 139, 72, 0), rgba(231, 139, 72, 0) );
    border-radius: 4px;
    
    color: #FFFFFF;
    text-align: center;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    list-style: none;
    padding: 13px 54px;
    border: 1px solid #959090;
    &:hover{
        text-decoration: none;
        color: #FFFFFF;
    }
    &:active{
        text-decoration: none;
    }
}


//media queries

@media only screen 
  and (max-width: 320px){
  	.btn-search-card{
  		position: absolute;
		width: 100%;
  	}
  	.search-form-border{
  		margin-top: 26px;
  		margin-bottom: 32px;
  	}
  	
}

@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
	.btn-search-card{
  		position: absolute;
		width: 100%;
  	}
  	

}

@media only screen 
  and (min-width: 768px)
  and (max-width: 990px){
  	.results-box-headers{
		font-size: 14px;
  	}
  	.room-image{
  		height: 140px;
    	width: 200px;
    	margin-right: 25px;
  	}
	.search-card-body{
		p{
			font-size: 14px;
		    height: 84px;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    margin-top: 34px;		
		}
	}
	.room-details{
		.room-capacit{
			font-size: 14px;
			img{
				height: 19px;
			    width: 19px;
			    font-size: 10px;
			}
		}
		.bed{
		    font-size: 14px;
			margin-top: 3px;
		}

	}
	.price-section{
		margin-left: 25px;
	}
	
  }


//large container applicable only for larger devices
@media only screen 
  and (min-width: 1440px){
	
	
}



