
.lg-upper-page-banner{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.4) ), image-url('hotel-pillows.jpg');
 	background-size: cover;
 	height: 50vh;
 	background-position: center;
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 	text-align: center;
 	.banner-content{
 		h1{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 32px;
			line-height: 44px;
			text-align: center;
			color: rgba(255, 255, 255, 0.9);

 		}
 		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: lighter;
			font-size: 22px;
			line-height: 30px;
			letter-spacing: 0.03em;
			color: #FFFFFF;
			opacity: 0.8;
			margin-top: -12px;
 		}
 	}
}
.wrapper-contact-us{
	
}