
.lg-upper-page-banner{
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65) ), image-url('hotel-pillows.jpg');
 	background-size: cover;
 	height: 50vh;
 	background-position: center;
 	display: flex;
 	justify-content: space-around;
 	align-items: center;
 	text-align: center;
 	.banner-content{
 		h1{
			font-family: Open Sans;
			font-style: normal;
			font-weight: 600;
			font-size: 32px;
			line-height: 44px;
			text-align: center;
			color: rgba(255, 255, 255, 0.9);

 		}
 		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: lighter;
			font-size: 22px;
			line-height: 30px;
			letter-spacing: 0.03em;
			color: #FFFFFF;
			opacity: 0.8;
			margin-top: -12px;
 		}
 	}
}
.wrapper-contact-us{
	background-color: white;
	.contact-details-container{
		position: relative;
    	top: -100px;
		.col-sm-8{
			// padding-left: 0;
			padding-right: 0;
		}
		.col-sm-4{
			padding-left: 0;
			// padding-right: 0;
		}
		#map{
		    filter: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="g"><feColorMatrix type="matrix" values="0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0.3 0.3 0.3 0 0 0 0 0 1 0"/></filter></svg>#g');
		    -webkit-filter: grayscale(100%);
		    filter: grayscale(100%);    
		    filter: progid:DXImageTransform.Microsoft.BasicImage(grayScale=1);
		}
		.contact-details{
			height: 380px;
			background: #2D2B29;
			font-family: Open Sans;
			font-style: normal;
			text-align: center;
			padding: 46px 15px;

			h4{
				font-weight: 500;
				font-size: 26px;
				line-height: 35px;
				color: #FAFAFA;
				margin: 0;
				margin-bottom: 14px;
			}
			.address{
				font-weight: lighter;
				font-size: 20px;
				line-height: 27px;
				letter-spacing: 0.03em;
				color: #FFFFFF;
				p{
					margin-top: -5px;
				}
			}
			.email{
				p{
				font-weight: 500;
				font-size: 22px;
				line-height: 30px;
				letter-spacing: 0.03em;
				color: #E9984D;
				margin-top: 37px;
				}
				
			}
			.phone_number{
				p{
					font-weight: 400;
					font-size: 20px;
					line-height: 27px;
					letter-spacing: 0.03em;
					color: #FFFFFF;
					margin-top: 10px;
				}
				
			}
		}
	}

}
.wrapper-contact-form{
	background-color: white;
	.contact-form{
		background: #F9F9F9;
		padding: 40px 30px;
		form{
			font-family: Roboto;
			.invisible-label{
				color: transparent !important;
			}
			.message-input{
				height: 100px !important;
			}
			label{
				font-style: normal;
				font-weight: 500;
				font-size: 17px;
				line-height: 21px;
				color: rgba(24, 24, 24, 0.65);
			}
			::placeholder{
			  font-style: normal;
			  font-weight: 300;
			  font-size: 15px;
			  line-height: 21px;
			  color: rgba(118, 116, 115, 0.7);
			}
			.form-control{
				border: 1px solid rgba(149, 144, 144, 0.8);
				background: #F9F9F9;
			}
			.btn-form-submit{
				background: #F6B072;
				border: 1px solid #959090;
				box-sizing: border-box;
				border-radius: 4px;
				font-weight: bold;
				font-size: 15px;
				line-height: 18px;
				text-align: center;
				color: #FFFFFF;
				padding: 10px 66px;
				text-decoration: none;
				list-style: none;

			}
			.form-btn-box{
				display: flex;
				justify-content: space-around;
				align-items: center;
				padding-top: 23px;
			}
			.form-padding-left{
				padding-left: 6px !important;
			}
			.form-padding-right{
				padding-right: 6px !important;
			}
		}
	}

}
