.gallery-banner-picture{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.5) ), image-url('beach8.png');
	height: 27vh;
}
.picture-gallery{
	background-color: white;
	.gallery-title{
		h1{
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 28px;
			line-height: 28px;
			color: rgba(24, 24, 24, 0.8);
			text-align: center;
			margin-bottom: 8px;
			margin-top: 69px;
		
		}
		p{
			font-family: Open Sans;
			font-style: normal;
			font-weight: normal;
			font-size: 18px;
			line-height: 25px;
			text-align: center;
			color: rgba(24, 24, 24, 0.65);
		}
	}
	.tabs{
		background: white;
		padding: 30px 100px 0 100px;
		webkit-box-shadow: 0 15px 25px -24px rgba(0,0,0,.25);
		box-shadow: 0 15px 25px -24px rgba(0,0,0,.25);
		text-align: center;
		display: flex;

		text-align: center;
		overflow-x: visible;
		margin-top: 0;
		position: -webkit-sticky;
		position: sticky;
		top: 125px;
		z-index: 9;
		margin-bottom: 60px;
	}

	.nav-pills > li.active > a{
		background-color: white;
		border-bottom: 1.5px solid #a08e68;
		color: #a08e68;
	}

	ul {
		li a{
			    font-family: Open Sans;
			    font-weight: 500;
				color: rgba(24, 24, 24, 0.8);
				 font-size: 14px;
				 letter-spacing: 1px;
				 cursor: pointer;
				box-sizing: border-box;
				border-bottom: 2px solid #fff;
				transition: all .2s;
				padding:  25px 0px;
			}
	}
	.tabs-item{
		flex: 1 0 auto;
		text-align: center;
	}
}

// mobile version
// media queries
@media only screen 
  and (max-width: 320px){
  	.picture-gallery{
  		.gallery-title{
  			h1{
  				font-size: 23px;
  				margin-bottom: -4px;
  				margin-top: 34px;
  			}
  			p{
  				font-size: 15px;
  			}
  		}
		.nav-pills > li.active > a{
			background-color: #9b6801;
			border: 1.5px solid #593c01;
			color: white;
		}
		ul {
			li a{
				     background-color: #a08e68;
					 color: white;
					 font-size: 14px;
					 letter-spacing: 1px;
					 cursor: pointer;
					 padding:  10px 0px;
				}
		}
		.nav-stacked > li + li{
			margin-top: 0;
		}
		.gallery-categories{
			text-align: center;
			overflow-x: visible;
			margin-top: 0;
			position: -webkit-sticky;
			position: sticky;
			top: 125px;
			z-index: 9;
			margin-bottom: 30px;
		}
  	}

  	.gallery-card{
  		width: 100% !important;
  		height: 171px !important;
  	}
  	
}

@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
  	  	.picture-gallery{
  	  		.gallery-title{
  	  			h1{
  	  				font-size: 23px;
  	  				margin-bottom: -4px;
  	  				margin-top: 34px;
  	  			}
  	  			p{
  	  				font-size: 15px;
  	  			}
  	  		}
  			.nav-pills > li.active > a{
  				background-color: #9b6801;
  				border: 1.5px solid #593c01;
  				color: white;
  			}
  			ul {
  				li a{
  					     background-color: #a08e68;
  						 color: white;
  						 font-size: 14px;
  						 letter-spacing: 1px;
  						 cursor: pointer;
  						 padding:  10px 0px;
  					}
  			}
  			.nav-stacked > li + li{
  				margin-top: 0;
  			}
  			.gallery-categories{
  				text-align: center;
  				overflow-x: visible;
  				margin-top: 0;
  				position: -webkit-sticky !important;
  				position: sticky !important;
  				top: 125px;
  				z-index: 9;
  				margin-bottom: 30px;
  			}
  	  	}

  	  	.gallery-card{
  	  		width: 100% !important;
  	  		height: 171px !important;
  	  	}
  }

