.banner-restaurant{
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0, 0.4) ), image-url('prawns.jpg') !important;
	height: 55vh;
	h1{
		margin-top: 100px;
	}
	p{
		font-size: 20px;
		font-family: Roboto;
		font-style: normal;
		font-weight: lighter;
		line-height: 37px;
		text-align: center;
		color: #FFFFFF;
		opacity: 0.7;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		margin-top: -15px;
	}
}

.wrapper-restaurant-chef{
	background-color: white;
	padding-top: 100px;
	padding-bottom: 100px;
	.cooker-card{
		width: 100%;
		height: 620px;
	    background-size: cover !important;
	    background-position: center;
	}
	.rest-desc-container{
    	padding-left: 20px;
		h2{
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 38px;
			line-height: 42px;
			color: rgba(24, 24, 24, 0.8);
			
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 45px;
			padding-top: 50px;

		}
		h3{
			color: #575656;
			font-family: Open Sans;
			font-style: normal;
			font-weight: 400;
			font-size: 22px;
			line-height: 41px;
			text-align: justify;
			letter-spacing: 0.03em;
		}
		p{
			color: #808285;
			font-size: 16px;
			font-family: Roboto;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			letter-spacing: 0.03em;
            line-height: 1.6;
			color: rgba(24, 24, 24, 0.55);
			margin-top: -5px;
		}
		.chef-name p{
			font-family: Open Sans;
			color: rgba(24, 24, 24, 0.5);
			font-size: 18px;
			font-weight: 600 !important;
			margin-bottom: -2px;
			margin-top: 40px;
		

		}
		.designation p{
			font-family: Roboto;
			color: #808285;
			font-size: 15px;
		}
		.chef-testemonial p{
			font-style: italic;
			color: rgba(24, 24, 24, 0.45);
		}
		img{
			height: 20px;
			margin-bottom: 7px;
			margin-top: 10px;
		}
	}
}

.wrapper-winning-award{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0, 0.4) ), image-url('rest3.jpeg') !important;
	height: 420px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    .header-border{
	    border: 1.5px solid #b0914f;
	    width: 150px;
	    position: absolute;
	    left: 50%;  
    }
    h1{
		font-family: Roboto;
		color: white;
		text-align: center;
		z-index: 10;
		font-size: 35px;
	}
	img{
		width: 20px;
	}
	

}

.wrapper-food-categories{
	background: orange;
	.food-categories-container{
		padding: 100px 0;
		.food-category-description{
			background-color: white;
			height: 380px;
			padding: 52px;
			h2{
				margin: 0;
				font-family: Roboto;
				font-style: normal;
				font-weight: bold;
				font-size: 30px;
				line-height: 42px;
				color: rgba(24, 24, 24, 0.8);
				margin-bottom: 18px;
				// margin-top: 10px;
			}
			p{
				font-family: Roboto;
				font-style: normal;
				font-weight: normal;
				font-size: 15px;
				line-height: 1.6;
				text-align: justify;
				
				color: rgba(24, 24, 24, 0.65);

			}
			.menu-cta{
				padding-top: 20px;
				.btn-our-menu{
					background-color: black;
					color: white;
					font-size: 13px;
					padding: 9px 24px;
					margin-top: 22px;
					text-transform: uppercase;
    				font-weight: 400;
    				border-radius: 0px;
    				border: 0px;
    				 text-align: center;
    				 text-decoration: none;
    				 &:hover{
    				    text-decoration: none;
    				    color: #FFFFFF;
    				    background: #2D2B29;
    				    
    				 }
    				 &:active{
    				    text-decoration: none;
    				 }
				}
			}
		}
		.food-category-img{
				width: 100%;
				height: 380px;
			    background-size: cover !important;
			    background-position: center;
		}
		.col-sm-6{
			padding: 0;
			// margin-top: -1px;
		}
	}
}

.wrapper-best-seller-dish{
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0, 0.2) ), image-url('desert.jpeg') !important;
	height: 500px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
	h1{
		font-family: Roboto;
		color: white;
		text-align: center;
		z-index: 10;
		font-size: 30px;
	}
}
.wrapper-opening-hours{
	background-color: white;
	padding: 110px 23px;
	.box-border-right{
		border-right: 1px solid #666;
	}
	.contact-info-container{
		padding: 10px 10px;
		.inner-container{

			h1{
				font-family: Roboto;
				font-style: normal;
				font-weight: 600;
				font-size: 22px;
				line-height: 25px;
				color: rgba(24, 24, 24, 0.8);
				text-align: center;
				margin-bottom: 20px;
			}
			p{
				font-family: Roboto;
			    font-style: normal;
			    font-weight: normal;
			    font-size: 15px;
			    line-height: 1;
			    text-align: center;
			    color: rgba(24, 24, 24, 0.65);

			}
		}
		.btn-margin-top{
			padding-top: 10px;
		}
		
	}

}
.background-grey{
	background: #f4f4f5;
}

.wrapper-winning-award, .banner-restaurant, .wrapper-best-seller-dish, .wrapper-bar-banner{
	position: relative;
	background-position: center;
	background-attachment: fixed;
}

.wrapper-menu{
	background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0, 0.1) ), image-url('wood-landscape.jpeg') !important;
	height: auto;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
    // align-items: center;
    justify-content: space-around;
    text-align: center;
    // margin-top: 100px;
	.menu-description{
		padding-bottom: 30px;
		padding-top: 30px;
		h1{
			font-size: 30px;
			color: black;
			font-family: Cinzel Decorative;
			font-weight: bold;
			// text-decoration: underline;
		}
		.meal-category{
			h2{
				font-family: Playfair Display;
				color: #662800;
				font-size: 25px;
				// color: #873800;
				// color: #662800;
				// color: #9b4c17;
				// color: #b74900;

			}
			ul{
				li{
					font-family: Roboto;
					color: rgba(24, 24, 24, 0.8);
					list-style: none;
					font-size: 16px;
					font-weight: bold;
				}
				.dish-description{
					font-family: Open Sans;
					color: rgba(24, 24, 24, 0.7);
					font-size: 15px;
					font-weight: 400;
				}

			}
			hr{    
				border-top: 1px solid #7c7c7c;
				margin-top: 14px;
				margin-bottom: 14px;
			}
		}
		.category-space{
			margin-top: 30px;
		}
	}


}

.section-padding-top{
	margin-top: 50px;
}
.section-padding-bottom{
	margin-bottom: 100px;
}
.wrapper-bar-banner{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0, 0.5) ), image-url('glasses.jpg') !important;
	height: 50vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
	 h1{
	 	font-family: Roboto;
	 	color: white;
	 	text-align: center;
	 	z-index: 10;
	 	font-size: 35px;
	 }
}
.wrapper-bar{
	padding: 100px 0;
	background: white;
	.drink-img{
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0, 0) ), image-url('drink.png') !important;
	height: 470px;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -112px;
	}
	h2{
		font-family: Roboto;
		font-style: normal;
		font-weight: 300;
		font-size: 28px;
		line-height: 10px;
		color: rgba(24, 24, 24, 0.8);
		text-align: center;
		margin-bottom: 43px;
		margin-top: 25px;
	}
	.bar-description{
		
		p{

			font-family: Open Sans;
			font-style: normal;
			font-weight: lighter;
			font-size: 16px;
			line-height: 1.6;
			text-align: justify;
			// letter-spacing: 0.03em;
			color: rgba(24, 24, 24, 0.65);
		}
	}
	.text-centered{
		p {
			text-align: center;
		}
	}
}
// media queries

@media only screen 
  and (max-width: 320px){
	.banner-restaurant{
		h1{
			margin-top: 0;
		}
	}
	.wrapper-restaurant-chef{
		padding-top: 50px;
		padding-bottom: 32px;
		.cooker-card{
			height: 300px;
		}
		.rest-desc-container{
			padding-left: 0;
			h2{
				font-size: 21px;
				padding-top: 0px;
				margin-bottom: -20px;
				text-align: center;
			}
			h3{
				text-align: center;
				font-size: 17px;
				letter-spacing: 0;
				margin-top: 10px;
			}
			p{
				font-size: 15px;
				letter-spacing: 0;
				margin-top: -10px;
				text-align: just;
				text-align: justify;
			}
			img{
				height: 18px;
			}
			.chef-name p{
				font-size: 15px;
				margin-bottom: 8px;
				margin-top: 0;
				text-align: center;
			}
			.designation p{
				font-size: 14px;
				text-align: center;
			}
		}
	}
	.wrapper-winning-award{
		height: 340px;
		h1{
			font-size: 29px;
		}
		img{
			width: 14px;
		}
	}
	.wrapper-food-categories{
		.food-categories-container{
		    padding: 50px 20px;
		    .food-category-description{
		    	padding: 16px;
		    	height: auto;
		    	h2{
		    		font-size: 18px;
	    		    text-align: center;
	    		    margin-bottom: -1px;
		    	}
		    	p{
		    		font-size: 14px;
		    		margin-bottom: 0px;
		    	}
		    	.menu-cta{
		    		padding-top: 0px;
		    		display: flex;
		    		justify-content: space-around;
		    		padding-bottom: 10px;
		    		.btn-our-menu{

		    		}
		    	}
		    }
		    .food-category-img{
		    	height: 290px;
		    	margin-top: 36px;
		    }
		}
	}
	.wrapper-best-seller-dish{
		height: 300px;
		h1{
			font-size: 23px;
		}
	}
	.wrapper-menu{
		.menu-description{
			padding: 10px 10px;
			h1{
				font-size: 25px;
			}
			.meal-category{
				h2{
					font-size: 23px;
					margin-bottom: 10px;
				}
				ul{
					padding: 0px;
					.dish-description{
						font-size: 14px;
						p{
							line-height: 18px;
						}
					}
				}
				ul li{
					font-size: 15px;
				}
			}
		}
	}
	.wrapper-opening-hours{
		padding: 10px 23px;
		.contact-info-container{
			padding: 16px 0px;
			.inner-container{
				h1{
					margin-top: 15px;
				}
				p{
					font-size: 14px;
					line-height: 0.9;
				}
			}
			.btn-margin-top{
				padding-top: 29px;
				
				.btn-padding{
					padding: 10px 11px;
				}
			
			}
		}
		.box-border-right{
			border: none;
			border-bottom: 1px solid #666;
		}
	}
	.wrapper-bar-banner {
		height: 47vh;
	}
	.wrapper-bar{
		padding: 54px 0;
		padding-bottom: 2px;
		.mobile-drink-img{
			display: flex;
			img{
				width: 131px;
				margin-bottom: 19px;
			}
			h2{
				font-size: 22px;
			    line-height: 1.3;
			    margin-top: 37px;
			    margin-left: -20px;
			    font-weight: 400;
			}
		}
		.bar-description{
			p{
				font-size: 14px;
			}
		}
		.text-centered{
			p{
				text-align: justify;
			}
		}
	}

}

@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
  	.banner-restaurant{
  		h1{
  			margin-top: 0;
  		}
  	}
  	.wrapper-restaurant-chef{
  		padding-top: 50px;
  		padding-bottom: 32px;
  		.cooker-card{
  			height: 300px;
  		}
  		.rest-desc-container{
  			padding-left: 0;
  			h2{
  				font-size: 21px;
  				padding-top: 0px;
  				margin-bottom: -20px;
  				text-align: center;
  			}
  			h3{
  				text-align: center;
  				font-size: 17px;
  				letter-spacing: 0;
  				margin-top: 10px;
  			}
  			p{
  				font-size: 15px;
  				letter-spacing: 0;
  				margin-top: -10px;
  				text-align: just;
  				text-align: justify;
  			}
  			img{
  				height: 18px;
  			}
  			.chef-name p{
  				font-size: 15px;
  				margin-bottom: 8px;
  				margin-top: 0;
  				text-align: center
  			}
  			.designation p{
  				font-size: 14px;
  				text-align: center;
  			}
  		}
  	}
  	.wrapper-winning-award{
  		height: 340px;
  		h1{
  			font-size: 29px;
  		}
  		img{
  			width: 14px;
  		}
  	}
  	.wrapper-food-categories{
  		.food-categories-container{
  		    padding: 50px 20px;
  		    .food-category-description{
  		    	padding: 16px;
  		    	height: auto;
  		    	h2{
  		    		font-size: 18px;
  	    		    text-align: center;
  	    		    margin-bottom: -1px;
  		    	}
  		    	p{
  		    		font-size: 14px;
  		    		margin-bottom: 0px;
  		    	}
  		    	.menu-cta{
  		    		padding-top: 0px;
  		    		display: flex;
  		    		justify-content: space-around;
  		    		padding-bottom: 10px;
  		    		.btn-our-menu{

  		    		}
  		    	}
  		    }
  		    .food-category-img{
  		    	height: 290px;
  		    	margin-top: 36px;
  		    }
  		}
  	}
  	.wrapper-best-seller-dish{
  		height: 300px;
  		h1{
  			font-size: 23px;
  		}
  	}
  	.wrapper-menu{
  		.menu-description{
  			padding: 10px 10px;
  			h1{
  				font-size: 25px;
  			}
  			.meal-category{
  				h2{
  					font-size: 23px;
  					margin-bottom: 10px;
  				}
  				ul{
  					padding: 0px;
  					.dish-description{
  						font-size: 14px;
  						p{
  							line-height: 18px;
  						}
  					}
  				}
  				ul li{
  					font-size: 15px;
  				}
  			}
  		}
  	}
  	.wrapper-opening-hours{
  		padding: 10px 23px;
  		.contact-info-container{
  			padding: 16px 0px;
  			.inner-container{
  				h1{
  					margin-top: 15px;
  				}
  				p{
  					font-size: 14px;
  					line-height: 0.9;
  				}
  			}
  			.btn-margin-top{
  				padding-top: 29px;
  				
  				.btn-padding{
  					padding: 10px 11px;
  				}
  			
  			}
  		}
  		.box-border-right{
  			border: none;
  			border-bottom: 1px solid #666;
  		}

  	}
  	.wrapper-bar-banner {
  		height: 47vh;
  	}
  	.wrapper-bar{
  		padding: 54px 0;
  		padding-bottom: 2px;
  		.mobile-drink-img{
  			display: flex;
  			img{
  				width: 131px;
  				margin-bottom: 19px;
  			}
  			h2{
  				font-size: 22px;
  			    line-height: 1.3;
  			    margin-top: 37px;
  			    margin-left: -20px;
  			    font-weight: 400;
  			}
  		}
  		.bar-description{
  			p{
  				font-size: 14px;
  			}
  		}
  		.text-centered{
  			p{
  				text-align: justify;
  			}
  		}
  	}
}

 @media only screen 
  and (min-width: 768px)
  and (max-width: 990px){
  	.banner-restaurant{
  		height: 41vh;
  		h1{
  			font-size: 32px;
  		}
  	}
	.wrapper-restaurant-chef{
		.cooker-card{
			height: 496px;
		}
		.rest-desc-container{
			padding-left: 0;
			h2{
				margin: 0;
				margin-bottom: 12px;
			    padding-top: 0px;
			    font-size: 32px;
			}
			h3{
				font-size: 21px;
				margin-bottom: 6px;
			}
			p{
				line-height: 1.4;
			}
			.chef-name p {
				margin-top: 8px;
			}
		}
	}
	.wrapper-winning-award{
		h1{
			font-size: 29px;
		}
	}
	
	.wrapper-food-categories {
		.food-categories-container {
			.food-category-description{
				padding: 29px;
				h2{
					font-size: 26px;
				}
			}
		}
	}
	
	.wrapper-best-seller-dish {
		height: 417px;
		h1{
			font-size: 28px;
		}
	}
	.wrapper-bar-banner {
		height: 38vh;
	}
	.wrapper-bar{
		padding: 84px 0;
		h2{
			font-size: 24px;
			margin-left: 56px;
		}
		.drink-img{
			height: 319px;
			margin-bottom: 21px;
			margin-top: -111px;
		}
		.bar-description{
			p{
				font-size: 15px;
				line-height: 1.4;
			}
		}
	}
	
  }

@media only screen 
  and (min-width: 992px)
  and (max-width: 1439px){
	.wrapper-bar-banner {
		height: 40vh;
	}
	.wrapper-bar{
		.drink-img{
			height: 386px;
			
		}
		
	}
		
	  
}












