  <div class="cards-container card-wrapper padded-top col-sm-6 col-lg-4">
    <div class="card-image filter">
        <div class="wishlist-rounded-white text-center">

            <!-- Inline SVG -->
            
        </div>
      </div>

    <!-- Card Bottom Row -->
      <div class="card-details">
        <div class="card-row">
          <span class="room-name"> delux double room</span>
          <span class="room-size">50 m2</span>
        </div>
        <div class="card-row card-margin-adjustment">
          <span class="room-beds"><%= image_tag "bed.png", id: "icon-bed" %>1 bed</span>&nbsp;
          <span class="room-capacity"><%= image_tag "people.png", id: "icon-people" %>sleeps 2</span>
        </div>
      </div>

    <!-- Card Rating and Review -->
   
    
    <!-- Card Link -->
   
</div>


