<footer class="wrapper-footer">
	<div class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="address-section">
						<%= link_to root_path, class: "logo-footer" do %>
							<%= image_tag "logo.png", height: 50 %>
						<% end %>
						<span class= "logo-name"><p>M3 VILLAGE</p></span>
						<span class="contact-txt"><p>Do you have any questions?<br>Feel free to contact us</p></span>
						<span class="footer-adress"><p>Rua do Miau-Miau<br> Xai-Xai - Mozambique <br>hello@m3village.com <br>+258 82 81 77 844</p></span>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="links-section1">
						<p>About us</p>
						<p>Contacts</p>
						<p>gallery</p>
						<span class="visit-us-txt hidden-xs"><p>Come and visit us <br>Check for rooms availability</p></span>
					</div>
					
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="links-section2">
						<p>Restaurant & Pub</p>
						<p>Accomodation</p>
						<p>Rooms</p>
						<span class="hidden-xs"><%= render 'shared/btn-book'  %></span>	
					</div>
				</div>
			</div>
			<div class="rights-reserved">
				<small>Copyright © M3Village 2018. All Rights Reserved.</small>
			</div>
		</div>
	</div>	
</footer>