<div class="navbar-mini">
	<div class="container">
		<div class="nav-flexbox">
			<p>Rua do Miau Miau, Xai-Xai |hello@m3village.com</p>
			<div class="nav-icons">
				<%= link_to "#" do %>
		        	<i class="fab fa-facebook-square"></i> 
		     	<% end %> 
				<%= link_to "Login", "#" %>
			</div>
		</div>
		
	</div>
</div>










