<div class="banner banner-image">
	
	<div class="banner-content">
		<h1><span class="title-bold">MAKE YOURSELF</span> <span class="title-light">AT HOME</span></h1>
		<p>The perfect mix of business and leisure for today's comfort-seeking traveler</p>
		<div class="btn-position">
			<%= render 'shared/btn-book-now'  %>
		</div>
				
	</div>
</div>
<div class="main-serach-bar">
	
</div>