<div class="lg-upper-page-banner">
	<div class="banner-content">
		<h1>Get in touch with us</h1>
		<p>Give us a call or drop us an email, we will be happy to help you.</p>
	</div>
</div>
<div class="wrapper-contact-us">
	<div class="container">
		<div class="contact-details-container">
			<div class="row">
				<div class="col-sm-8">
					<div
					  id="map"
					  style="width: 100%;
					  height: 380px;"
					  data-markers="<%= @markers.to_json %>"
					></div>
					
				</div>
				<div class="col-sm-4">
					<div class="contact-details">
						<h4>Visit us</h4>
						<span class="address">
							<p>Rua do Miau-Miau</p>
							<p> Xai-Xai - Mozambique</p>
						</span>
						
						<span class="email"><p>hello@m3village.com</p></span>
						<span class="phone_number"><p>+258 82 81 77 844</p> </span>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

