<div class="banner">
	<div>
		<h1><span class="title-bold">WELCOME TO</span> <span class="title-light">M3 VILLAGE</span></h1>
		<h3>XAI-XAI | MOZAMBIQUE</h3>
		<!-- <div class="cta-banner"> -->
		<%= link_to "ACCOMMODATION", "https://www.lewagon.com/", class: "btn-banner " %>
		<%= link_to "RESTAURANT & PUB", "https://www.lewagon.com/", class: "btn-banner " %>
	<!-- </div> -->
	</div>
	
</div>
