<div class="banner">
	<div>
		<h1><span class="title-bold">WELCOME TO</span> <span class="title-light">M3 VILLAGE</span></h1>
		<h3>XAI-XAI | MOZAMBIQUE</h3>
		<!-- <div class="cta-banner"> -->
		<%= link_to "ACCOMMODATION", "https://www.lewagon.com/", class: "btn-banner " %>
		<%= link_to "RESTAURANT & PUB", "https://www.lewagon.com/", class: "btn-banner " %>
	<!-- </div> -->
	</div>
	
</div>


<div class="wrapper-aboutus">
	<div class="container">
		<h4>About us</h4>
		<hr>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupida</p>	
	</div>

</div>




