<div class="banner-accomodation banner-restaurant">
	<!-- DESKTOP VERSION -->
	<div class="header-textbox">
		<h1 class="heading-primary">
		<span class="main-header title-bold">Food for the soul.</span> <span class="title-light">Food made with love. </span>
		</h1>
		<!-- <p><span class="header-paragraph">Food made with love.</span></p> -->
	</div>
</div>
<div class="wrapper-restaurant-chef">
	<div class="container">
		<div class="row">
			<div class="col-xs-5">
				<div class="cooker-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path'cooker2.jpg' %>);">
				</div>
				
			</div>
			<div class="col-xs-7">
				<div class="rest-desc-container">
					<h2>M3 VILLAGE</h2>
					<h3>TASTEFUL EXPERIENCES SINCE 2006</h3>
					<p>
						When you choose to stay at M3 VILLAGE, you are also choosing to sample some of the finest cuisine Mozambique has to offer. <br>

						Drawing upon fresh seasonal ingredients and herbs from local markets, our chef creates dishes worthy of the highest standards of Mozambican cuisine. Elegant and contemporary, M3 Village's Restaurant is perfect for business lunches, romantic dinners, family meals and more. <br>

						We are committed to provide our guests with memorable dining experiences!

					<!-- Good things happen around good food and drink, because we take the time to get to know each other and put life back into perspective. We make it easy to do that by providing a restaurant & bar that are inviting enough to make you want to unwind and share the stories of the day. Enjoy a broad selection of dishes representative of Mozambican and International cuisines, all carefully prepared by our chef, or just grab a signature cocktail, or a beer and chill. --></p>
					<span class="chef-name"><p>Tony Mendes</p></span>
					<span class="designation"><p>Our Chef</p></span>
				</div>
				
			</div>
		</div>
	</div>
	
</div>