<div class="banner-accomodation banner-restaurant">
	<!-- DESKTOP VERSION -->
	<div class="header-textbox">
		<h1 class="heading-primary">
		<span class="main-header title-bold">Food for the soul.</span> <span class="title-light">Food made with love. </span>
		</h1>
		<!-- <p><span class="header-paragraph">Food made with love.</span></p> -->
	</div>

	
</div>