<div class="lg-upper-page-banner">
	<div class="banner-content">
		<h1>hey there</h1>

	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3">
		<h1>thank you for your message!</h1>
		<p>i'll get back top you soon</p>
	</div>

</div>