.wrapper-aboutus{
	background: #FFFFFF;
	padding: 10px;
	
}
.wrapper-aboutus h4{
	font-family: Roboto;
	font-weight: bold;
	font-size: 33px;
	color: rgba(24, 24, 24, 0.8);
	text-align: center;
	margin-top: 59px;
	margin-bottom: 28px;
}
.wrapper-aboutus p{
	font-family: Open Sans;
	font-size: 17px;
	text-align: justify;
	color: rgba(24, 24, 24, 0.65);
	letter-spacing: 0.03em;
	margin-top: 39px;
}
.wrapper-rooms{
	background: #F9F9F9;
}

.wrapper-rooms h4{
	font-family: Roboto;
	font-weight: bold;
	font-size: 33px;
	color: rgba(24, 24, 24, 0.8);
	text-align: center;
	margin-top: 42px;
	margin-bottom: 10px;
}
.wrapper-rooms p{
	font-family: Open Sans;
	font-size: 17px;
	text-align: center;
	color: rgba(24, 24, 24, 0.70);
	letter-spacing: 0.03em;
	margin-top: 39px;
}



// Media Queries
// small mobiles
@media only screen 
  and (max-width: 320px){
  	.wrapper-aboutus h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-aboutus p{
  		font-size: 12px;
  		letter-spacing: 0.00em;
  		margin-top: -6px;
  	}
  	.wrapper-rooms h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-rooms p{
  		font-size: 12px;
  		letter-spacing: 0.00em;
  		margin-top: 12px;
  		text-align: justify;
  	}
  }
  // large mobile
@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
  	.wrapper-aboutus h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-aboutus p{
  		font-size: 14px;
  		letter-spacing: 0.00em;
  		margin-top: -6px;
  	}
  	.wrapper-rooms h4{
  		font-size: 19px;
   		margin-top: 26px;
    	margin-bottom: -7px;
  	}
  	.wrapper-rooms p{
  		font-size: 14px;
  		letter-spacing: 0.00em;
  		margin-top: 10px;
  		text-align: justify;
  	}
  }
// ipad 
  @media only screen 
  and (min-width: 768px)
  and (max-width: 990px){
  	.wrapper-aboutus h4{
  		font-size: 24px;
    	margin-top: 46px;
    	margin-bottom: 26px;
  	}
  	.wrapper-aboutus p{
  		font-size: 16px;
    	letter-spacing: 0.03em;
    	margin-top: 24px;
  	}
  	.wrapper-rooms h4{
  		font-size: 24px;
    	margin-top: 46px;
    	margin-bottom: 26px;
  	}
  	.wrapper-rooms p{
  		font-size: 16px;
    	letter-spacing: 0.03em;
    	margin-top: 24px;
  	}
  }

  