.wrapper-aboutus{
	background: #FFFFFF;
	padding: 10px;
	
}
.wrapper-aboutus h4{
	font-family: Roboto;
	font-weight: bold;
	font-size: 36px;
	color: rgba(24, 24, 24, 0.8);
	text-align: center;
	margin-top: 59px;
	margin-bottom: 28px;
}
.wrapper-aboutus p{
	font-family: Open Sans;
	font-size: 19px;
	text-align: justify;
	color: rgba(24, 24, 24, 0.65);
	letter-spacing: 0.03em;
	margin-top: 39px;
}