
.navbar-mini{
background: #181818;
// width: 1440px;
height: 50px ;
color: #FFFFFF;
font-weight: lighter;


}
.nav-flexbox{
display: flex;
justify-content: space-between;
align-items: center;
padding: 14px;
opacity: 0.8;
}
.nav-flexbox p{
margin-bottom: 0px;
font-family: Open Sans;
font-size: 13px;

}
.nav-icons  a{
color: #FFFFFF;
opacity: 0.8;
text-decoration: none;
font-size: 14px;
}
.nav-icons  i{
position: relative;
    left: -24px;
    font-size: 17px;
}
.navbar-large{
	height: 120px;
  	background-color: black;
  	opacity: .4;
  	// position: fixed;
  	
}
.negative-margin {
	margin-top: -70px;
}
