.card-pub {
  height: 274px;
  background-size: cover !important;
  background-position: center;
  margin-top: 21px;
  margin-left: 19px;
  margin-bottom: 18px;
  
}

// @media only screen 
// and (min-width: 1024px)
// and (max-width: 1440px){
// 	.wrapper-otherservices{
// 		.container{
//    			 width: 900px;
//   		}
// 	}
// }

@media only screen 
  and (max-width: 320px){
  	.card-pub{
		height: 150px;
		margin: 0 0 0 0;
		margin-left: -14px;
  	}
  }

@media only screen 
  and (min-width: 321px)
  and (max-width: 767px){
  	.card-pub{
		height: 150px;
		margin: 0 0 0 0;
		margin-left: -14px;
  	}
  }


@media only screen 
  and (min-width: 768px)
  and (max-width: 990px){
    .card-pub{
         height: 325px;
    }
  } 