// form - rooms search results page

.results-search-content{
  background: #F9F9F9;
  padding: 12px 38px;
  padding-top: 32px;
  &:hover{
    background: white;
  }

  form{
    .col-md-2{
      padding-right: 0;
      padding-left: 10px;
    }
    .form-control{
      background-color: white;
      color: #767473 !important;
      font-family: Roboto;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      border: 0.5px solid #959090;
    }
    select {
      border-radius: 0px !important;
       -webkit-appearance: none; 
       -moz-appearance: none;
       appearance: none;       /* remove default arrow */
       // background-color: white !important;
       // background-image: url(...);   /* add custom arrow */
    }
    ::placeholder{
      color: #767473 !important;
    }
    .btn-search{
      background: #F6B072;
    border: 1px solid #959090;
    box-sizing: border-box;
    box-shadow: none;
    }
  }
  .input-icon-calendar{
    background-image: image-url('calendar-icon.svg') !important;
    background-position: left;
    background-repeat: no-repeat;
    background-size: 25% 48%;
    padding: 6px 37px;
  }


}

//media queries small devices
@media only screen 
  and (max-width: 320px){
    .results-search-content{
      padding-top: 14px;
      .input-icon-calendar{
        background-size: 12% 48%;
      }
      form{
        .col-md-2{
          padding: 0
        }
        .col-md-4{
          padding: 0;
        }
      }
    }
  }

  @media only screen 
    and (min-width: 321px)
    and (max-width: 767px){
      .results-search-content{
        padding-top: 14px;
        .input-icon-calendar{
          background-size: 12% 48%;
        }
        form{
          .col-md-2{
            padding: 0
          }
          .col-md-4{
            padding: 0;
          }
        }
      }
    }


//media queries ipad
@media only screen 
  and (min-width: 768px)
  and (max-width: 990px){
    .results-search-content{
      .input-icon-calendar{
        background-size: 6% 48%;
      }
    }
  }











