.search-content{
	display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 46px;
}

input{
	background: transparent;
    color: rgba(149, 144, 144, 0.9);
    border: 2px solid rgba(149, 144, 144, 0.9);
    height: 39px;
    margin-right: 8px;
    padding: 10px 10px;
}


.special_input{
	width: 100px;
}

.calendar-input{
	background-image: image-url("calendar-input.png");
	background-position: right;
	background-repeat: no-repeat;
	background-size: 14% 70%;
	
}

.mob-input{
	width: 157px;
    margin-top: 12px;
}

.mob-input-small{
	width: 104px;
    margin-top: 4px;
}
.margin-left-input{
	margin-left: -27px;
}

.marg-left-adult{
    margin-left: -18px;
}

.marg-left-child{
	margin-left: -35px;
}

@media only screen 
  and (max-width: 320px){
    .mob-input{
	width: 157px;
    margin-top: 12px;
}
} 